<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackrabbit.signup.SignupMapper">
  <!-- 회원가입 시 아이디/ 이메일 중복확인 -->
  <select id="checkDup" resultType="int">
    select count(*)
    from HC_user
    where 1=1
    and
    <choose>
      <when test="type == 'id'"> username = #{value} </when>
      <otherwise> email = #{value} </otherwise>
    </choose>
  </select>

  <!-- 회원가입 -->
  <insert id="createUser" parameterType="map">
    INSERT INTO HC_user (username, email, password_hash, balance)
    VALUES (#{username}, #{email}, #{password}, #{balance})
  </insert>
</mapper>