<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackrabbit.stock.StockMapper">

    <!-- * 1. BlackRabbit 메인페이지 - WatchList  (2026_0626에 추가) -->
    <select id="getPresent_StockList" resultType="stockDTO">
        SELECT stck_shrn_iscd, hts_kor_isnm, stck_prpr, prdy_ctrt, prdy_vrss_sign
        FROM HC_stock_daily1
        WHERE stck_shrn_iscd IS NOT NULL
          AND hts_kor_isnm IS NOT NULL
          AND hts_kor_isnm != ''
    </select>


    <!-- 2. BlackRabbit 메인페이지 - 일별차트 (2026_0629에 추가) -->
    <select id="getDailyStockChartData" resultType="StockDailyDTO">
        SELECT stck_bsop_date, stck_oprc, stck_hgpr, stck_lwpr, stck_clpr
        FROM
        <choose>
            <when test="period == 'week'"> HC_stock_weekly2 </when>
            <when test="period == 'month'"> HC_stock_monthly2 </when>
            <otherwise> HC_stock_daily2 </otherwise>
        </choose>
        WHERE stck_shrn_iscd = #{code}
        ORDER BY stck_bsop_date ASC
    </select>

    <!-- 3. BlackRabbit 메인페이지 - 분봉/ 시간봉(0630) -->
    <select id="getMinHourChart" resultType="StockDailyDTO">
        SELECT * FROM (
            SELECT CONCAT(stck_bsop_date, ' ', stck_cntg_hour) AS stck_bsop_date,
                stck_cntg_hour,
                stck_oprc,
                stck_hgpr,
                stck_lwpr,
                stck_prpr AS stck_clpr
            FROM
            <choose>
                <when test="period == 'minute'"> HC_stock_minute2 </when>
                <otherwise> HC_stock_hourly </otherwise>
            </choose>
            WHERE ticker = #{code}
            ORDER BY stck_bsop_date DESC, stck_cntg_hour DESC
            limit
            <choose>
                <when test="period == 'minute'"> 100 </when>
                <otherwise> 50 </otherwise>
            </choose>
        ) AS subquery
        ORDER BY stck_bsop_date ASC, stck_cntg_hour ASC
    </select>
</mapper>